/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default values */
*{
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

body{
  background: bg-gradient-to-r from-slate-300 to-slate-500;
}

/* Footer */
footer{
  background: bg-gradient-to-r from-slate-900 to-slate-700;
  color: white;
  padding: 1rem;
  text-align: center;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
}

a, li, ul, span{
 color: black; 
}

/* Slide animation for main content */
.slide-in {
  animation: slideFromRight 0.5s ease-in-out forwards;
  opacity: 0;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Dark Color scheme */
.dark-mode {
  background-color: #082f49;
  text-decoration: aquamarine;
}

/* Additional styles for elements in dark mode */
.dark-mode h1, mb-4, bg-white rounded-md shadow-md.p {
  color: #ffffff; /* Example: White text color for headings */
}

